body {
    background-color: blueviolet;
}

.firstShow {
    background-color: aqua;
    width: 50rem;
    height: 40rem;
    position: absolute;
    left: 25%;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: popupEffect 0.5s ease-in-out;
}

.closeGreetButton,
.closeTksButton {
    width: 10rem;
    height: 5rem;
    background-color: bisque;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    color: coral;
    cursor: pointer;
    margin: 0 10rem;
    border-radius: 10px;
}

#dogDau {
    width: 30rem;
    height: 30rem;
}

#BtnYES {
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: aqua;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

#BtnNO {
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: brown;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}

.container {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes popupEffect {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popupHideEffect {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.container.hide .firstShow {
    animation: popupHideEffect 0.5s ease-in-out;
}

.ask {
    width: 100%;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}

.tks {
    width: 100%;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}

.TksShow {
    background-color: aqua;
    width: 50rem;
    height: 40rem;
    position: absolute;
    left: 25%;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: popupEffect 0.5s ease-in-out;
    display: none;
}

.container.hide .TksShow {
    animation: popupHideEffect 0.5s ease-in-out;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .firstShow {
        width: 26rem;
        height: 30rem;
        left: 0;
        top: 20%;
    }

    .TksShow {
        width: 26rem;
        height: 30rem;
        left: 0;
        top: 20%;
    }

    #dogDau {
        width: 20rem;
        height: 20rem;
    }

    .ask {
        width: 100%;
        font-size: 70px;
        font-weight: 600;
        text-align: center;
    }

    .tks {
        width: 100%;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
    }
}